body {
  background-color: #fff;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  background-color: lightgray;
  min-width: 400px;
  height: auto;
  min-height: 250px;
}