body {
  background-color: #fff;
}

audio {
        width: 210px;
        height: 100px;
        border-radius: 15%;
        background-color: #d98713;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      
      }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  background-color: lightgray;
  min-width: 400px;
  height: auto;
  min-height: 250px;
}